<div fxFlex fxLayout="column" *ngIf="settings.from && settings.apikey else noConfiguration">
	<div class="sendgrid-header" fxLayout="row">
		<div class="email-sent-counter">
			<div style="text-align: center; font-size: 2.5em">{{ nbEmails || 0 }}</div>
			<div style="text-align: center">email{{ nbEmails > 1 ? 's' : '' }} sent</div>
		</div>
		<div class="header-content" fxFlex *ngIf="settings.from && settings.apikey">
			Emails are sent from <strong>{{settings.from}}</strong>
			<br>
			with the APIKey <strong>{{settings.apikey.substr(0, 5) + '*****' + settings.apikey.substr(-5, 5)}}</strong>
			<br>
			<span class="link" (click)="openSetup.emit()">Edit the configuration</span>
		</div>
	</div>

	<mat-card fxLayout="column" fxFlex>
		<mat-card-header fxLayout="row">
			<h3>Latest emails sent</h3>
			<div fxFlex></div>
			<button mat-icon-button matTooltip="Send an email" matTooltipPosition="left" *ngIf="settings.from && settings.apikey" (click)="openSendDialog()">
				<mat-icon>send</mat-icon>
			</button>
        </mat-card-header>
        <div *ngIf="! emails || emails.length == 0" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <div style="margin-bottom: 16px;"><strong>No email has been sent yet</strong></div>
            <button mat-raised-button color="primary" (click)="openSendDialog()">Send your first email now</button>
        </div>
        <mat-list *ngIf="emails && emails.length > 0">
            <div *ngFor="let email of emails">
                <mat-divider ></mat-divider>
                <mat-list-item style="margin-bottom: 1px solid #EEE" class="md-2-line">
                    <div fxLayout="column">
                        <h3 style="font-size: 15px" fxLayout="row">
                            {{ email.to }}
                            <span fxFlex></span>
                            <span style="font-size: 0.8rem">{{email.date_sent | date}}</span>
                        </h3>
                        <p class="text-line-1" fxFlex>
                            <strong>{{ email.subject }}</strong> - {{ email.body }}
                        </p>
                    </div>
                </mat-list-item>
            </div>
        </mat-list>
	</mat-card>
</div>
<ng-template #noConfiguration>
	<div fxLayout="column" fxFlex fxLayoutAlign="center center">
		<p>Sendgrid addon is not configured yet.</p>
		<button mat-raised-button color="primary" (click)="openSetup.emit()">Configure</button>
	</div>
</ng-template>
<ng-template #sendDialog>
	<form fxLayout="column">
		<h1>Send an email</h1>
		<mat-form-field>
			<input matInput placeholder="Subject" [formControl]="subjectControl">
		</mat-form-field>
		<mat-form-field>
			<textarea matInput placeholder="Body" [formControl]="bodyControl"></textarea>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="To" [formControl]="toControl">
		</mat-form-field>
	</form>
	<button mat-raised-button color="primary" (click)="send()">Send</button>
</ng-template>