<div fxFlex fxLayout="column" *ngIf="app.addons.addonsConfig['@materia/sendgrid'] else noConfiguration">
	<div class="sendgrid-header" fxLayout="row">
		<div class="email-sent-counter">
			<div class="counter">{{nbEmails || 0}}</div>
			<div>email{{ nbEmails > 1 ? 's' : '' }} sent</div>
		</div>
		<div class="header-content" fxFlex *ngIf="app.addons.addonsConfig['@materia/sendgrid'].from && app.addons.addonsConfig['@materia/sendgrid'].apikey">
			Emails are sent from <strong>{{app.addons.addonsConfig['@materia/sendgrid'].from}}</strong>
			<br>with the APIKey <strong>{{app.addons.addonsConfig['@materia/sendgrid'].apikey.substr(0, 5) + '*****' + app.addons.addonsConfig['@materia/sendgrid'].apikey.substr(-5, 5)}}</strong>
			<br><a (click)="setup()">Edit the configuration</a>
		</div>
		<div class="header-content" fxFlex *ngIf="! app.addons.addonsConfig['@materia/sendgrid'].from || !app.addons.addonsConfig['@materia/sendgrid'].apikey">
			You need to configure this addon to send email in your application.
			<br><a (click)="setup()">Configure it now!</a>
		</div>
	</div>

	<mat-card fxLayout="column" fxFlex>
		<mat-card-header fxLayout="row">
			<h3>Latest emails sent</h3>
			<div fxFlex></div>
			<button matTooltip="Send an email" *ngIf="app.addons.addonsConfig['@materia/sendgrid'].from && app.addons.addonsConfig['@materia/sendgrid'].apikey" (click)="send($event)" mat-icon-button>
				<mat-icon>send</mat-icon>
			</button>
        </mat-card-header>
        <div *ngIf="! emails || emails.length == 0" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <div style="margin-bottom: 16px;"><strong>No email has been sent yet</strong></div>
            <button mat-raised-button color="primary" (click)="send($event)">Send your first email now</button>
        </div>
        <mat-list *ngIf="emails && emails.length > 0">
            <div *ngFor="let email of emails">
                <mat-divider ></mat-divider>
                <mat-list-item style="margin-bottom: 1px solid #EEE" class="md-2-line">
                    <div fxLayout="column">
                        <h3 style="font-size: 15px" fxLayout="row">
                            {{ email.to }}
                            <span fxFlex></span>
                            <span style="font-size: 0.8rem">{{email.date_sent | date}}</span>
                        </h3>
                        <p class="text-line-1" fxFlex>
                            <strong>{{ email.subject }}</strong> - {{ email.body }}
                        </p>
                    </div>
                </mat-list-item>
            </div>
        </mat-list>
	</mat-card>
</div>
<ng-template #noConfiguration>
	<div fxLayout="column" fxFlex fxLayoutAlign="center center">
		<p>Sendgrid addon is not configured yet.</p>
		<button mat-raised-button color="primary">Configure</button>
	</div>
</ng-template>